#index4 {
  width: 850px;
  margin: 0 auto;
  border-bottom: 2px solid #21252a;

  h4{
    width: 850px;
    font-size: 18px;
  }
 
  p{
    color: #878E98;
    font-size: 14px;
  }
}

.bor{
  border-bottom: 2px solid #9a9a9a;
    padding-bottom: 15px;
}

#b4{
  margin-bottom: 50px;
}